<div id="<%= dom_id pdf %>">
  <p>
    <strong>Title:</strong>
    <%= pdf.title %>
  </p>

  <p>
    <strong>Last accessed:</strong>
    <%= pdf.last_accessed %>
  </p>

  <p>
    <strong>Current page:</strong>
    <%= pdf.current_page %>
  </p>

</div>
